body{

    background-image: url("https://images2.imgbox.com/13/f5/miGKvDD8_o.jpg"),url("https://images2.imgbox.com/13/f5/miGKvDD8_o.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-blend-mode: screen;
    display: flex;

    
    background-size: cover;
    max-width: auto;
    height: auto;
    
}



.two-picture{
    width: 30px;
    height: 30px;
    z-index: 0;
}

.top-picture{
    display: block;
    /* margin:  50px ; */
    width: 700px;
    height: 500px;
    z-index: -1;
}

.text-one-1{
    font-family: 標楷體;
    font-size: 14pt;
    color: white;
    
}

.text-one-2{
    font-family: 標楷體;
    font-size: 16pt;
    color: white;
    
}



/*button*/
.startgame {
    position: relative; left: 150px;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
  }
  /*==========  Structure  ==========*/
  .btn-push {
    position: relative;
    top: 0px;
    font-family: "Open Sans";
    text-decoration: none;
    font-size: 25px;
    background: #f7f7f7;
    padding: 15px 50px;
    margin: 0 10px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #c4c4c4;
    -moz-box-shadow: 0px 5px 0px #c4c4c4;
    -ms-box-shadow: 0px 5px 0px #c4c4c4;
    -o-box-shadow: 0px 5px 0px #c4c4c4;
    box-shadow: 0px 5px 0px #c4c4c4;
    color: #222;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Active State  ==========*/
  .btn-push:active {
    position: relative;
    top: 15px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Navy  ==========*/
  .btn-push.navy {
    background: #3d62a7;
    border: 1px solid #07121b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #07121b;
    -moz-box-shadow: 0px 5px 0px #07121b;
    -ms-box-shadow: 0px 5px 0px #07121b;
    -o-box-shadow: 0px 5px 0px #07121b;
    box-shadow: 0px 5px 0px #07121b;
    color: #fff;
    text-shadow: 1px 1px 1px #07121b;
  }

  /*question*/
  .btn-question{
    position: relative; left: 0px;
  }
  .btn-question {
    position: relative;
    top: 0px;
    font-family: "Open Sans";
    text-decoration: none;
    font-size: 25px;
    background: #f7f7f7;
    padding: 15px 50px;
    margin: 0 10px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #c4c4c4;
    -moz-box-shadow: 0px 5px 0px #c4c4c4;
    -ms-box-shadow: 0px 5px 0px #c4c4c4;
    -o-box-shadow: 0px 5px 0px #c4c4c4;
    box-shadow: 0px 5px 0px #c4c4c4;
    color: #222;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Active State  ==========*/
  .btn-question:active {
    position: relative;
    top: 10px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }
  /*==========  Navy  ==========*/
  .btn-question {
    background: rgb(114, 78, 196);
    border: 1px solid #07121b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #07121b;
    -moz-box-shadow: 0px 5px 0px #07121b;
    -ms-box-shadow: 0px 5px 0px #07121b;
    -o-box-shadow: 0px 5px 0px #07121b;
    box-shadow: 0px 5px 0px #07121b;
    color: rgb(209, 206, 206);
    text-shadow: 1px 1px 1px #000000;
  }

#question-card{
  background-color: white;
  background-image: url("https://images2.imgbox.com/b5/06/IBoaaxve_o.jpg");
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-size: 1.2em;
  
}
.question.visible{
  top: 0;
  left: 0;
}
.question{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.about{
  text-align: center;
  font-size: 3em;
  color: white;
  
}



/*start*/

#start-card{
  background-color: white;
  color: black;
  display: block;
  font-size: 1.2em;
  
}
.start.visible{
  top: 0;
  left: 0;
}
.start{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}
/*離開這個說明*/



.button {
	position: fixed;
	text-align: center;
	font-size: 42px;
	font-family: 'Raleway', sans-serif;
	color: hsl(61, 80%, 50%);
	width: 150px;
	height: 100px;
	margin-top: calc(50vh - 75px);
	margin-left: calc(50vw - 175px);
  

	border-radius: 30px;
	text-shadow: 
		0px 3px hsl(220, 80%, 30%), 
		0px 10px 10px #0003;
	box-shadow: 
		0px 0px 0px 15px hsl(330, 80%, 50%),
		0px 10px 0px 15px hsl(330, 80%, 40%),
		0px 20px 20px 15px #0003;
	cursor: pointer;
	border-radius: 100px 30px 100px 30px;

}

.button .exitquestion {
	margin-top: 20px;
	transform: rotate(-3deg);
}

.button:hover {
	animation: .8s morph ease infinite;
}

.button:hover .exitquestion {
	animation: .8s rot ease infinite;
}

@keyframes morph {
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}

@keyframes rot {
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
}

.size{font-size:30px;text-align:center;line-height:50px;color:#003399;font-weight:bold;}
.size1{font-size:30px;text-align:center;line-height:50px;color:#003399;
	font-weight:bold;vertical-align: top;width: 30%;
	display: inline-block;}
.gameStart{font-size: 100px;}
.bg{position:fixed;top:0;left:0;bottom:0;right:0;z-index:-999;}
.bg img{min-height:100%;width:100%;}
.canvas{border-style: solid;border-color: #00FFFF; margin: 0px auto; display:none;}
.front{display: block;}
.center01{text-align: center;}

.but {
	padding: 13.5px 27px;
	border: 1px solid #C7C7C7;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#0080FF));
	background: -webkit-linear-gradient(top, #FFFFFF, #0080FF);
	background: -moz-linear-gradient(top, #FFFFFF, #0080FF);
	background: -ms-linear-gradient(top, #FFFFFF, #0080FF);
	background: -o-linear-gradient(top, #FFFFFF, #0080FF);
	background-color: #0080FF;
	box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #0BD1DB;
	-webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #0BD1DB;
	-moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #0BD1DB;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: #7AABFF 1px 1px 0px;
	color: #2D00B5;
	font-size: 24px;
	font-family: '微軟正黑體';
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	justify-content:center;
	}
	
.tryy{margin: 0px auto}

.behind .draw{
  font-size: 15px;
}
